repos:
  - repo: local
  
    hooks:

      - id: version-update
        name: 'Version update'
        language: script
        entry: './scripts/precommit/version_update.sh'
        files: ^pyproject.toml
      
      # - id: build-stubs
      #   name: 'Build Python Stubs'
      #   language: script
      #   entry: './scripts/precommit/build_stubs.sh'
      #   files: ^cpp_module/.*$

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.0
    hooks:
      - id: clang-format
        files: ^(src|tests)/.*\.(c|cc|cpp|h|hpp)$