#!/usr/bin/make -f

export DH_OPTIONS
export DH_COMPAT=11
export DH_VERBOSE=1
export BUILDDIR=build

export PYBUILD_NAME = viewshed

%:
	dh $@ --with python3 --buildsystem=pybuild --dest-dir debian/install/

